Django==4.2.27
djangorestframework==3.14.0
djangorestframework-simplejwt>=5.3.1
python-decouple==3.8
Pillow==10.4.0
django-filter==23.5
celery==5.3.6
redis==5.0.1
psycopg[binary]>=3.1,<4.0
coverage==7.3.2
